<div class="cursors">
  <div id="first-div"></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<script src="/js/bootstrap.js" defer></script>
<script src="/js/cursor.js" defer></script>
</body>

</html>