<%- include("./partials/html-head.ejs") %>
  <div class="d-flex container justify-content-center align-items-center flex-grow-1">
    <h1>404</h1>
  </div>
  <%- include("./partials/html-foot.ejs") %>