<%- include("./partials/html-head.ejs") %>
  <style>
    h1 {
      font-family: 'Single Day', cursive;
      font-size: max(300%, 3vw);
    }

    #play-btn {
      width: 8em;
      height: 3em;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #006400;
      text-decoration: none;
      color: white;
      font-size: x-large;
      transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1),
        background-color 0.1s cubic-bezier(0.165, 0.84, 0.44, 1),
        border-radius 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    #play-btn:hover {
      transform: scale(1.1);
      background-color: #f9a620;
      border-radius: 20px;
      box-shadow: #ffd449 0 0 15px 2px;
    }
  </style>
  <div id="main-content" class="container-fluid " style="height:100vh;">
    <div class="row">
      <div class="col d-none d-md-flex justify-content-center p-2">
        <img src="\images\PNG\2.png" alt="" style="max-width: 80%; max-height:auto; width: auto;
  height: auto;">
      </div>
      <div class=" col d-inline-block d-flex flex-column justify-content-evenly align-items-center m-3">
        <h1 class="text-center">About us!</h1>
        <p>
          Hello there! My name is Suchir, and I'm a student at the prestigious Heckmondwike Grammar School (HGS). I'm passionate
          about web development and using my skills to make a positive impact on the world.
          
          That's why I've created this website to raise awareness about carbon footprint and its impact on the environment. I
          believe that we all have a responsibility to reduce our carbon footprint and protect the planet for future generations.
          
          Through this website, I hope to provide valuable information and resources that can help people understand the impact of
          their daily activities on the environment. I also want to encourage individuals and organizations to take action to
          reduce their carbon footprint and adopt more sustainable practices.
          
          At GSAL, we are committed to promoting sustainable living and protecting the environment. I'm proud to be a part of a
          community that values sustainability and works to create a better future for all.
          
          I hope that this website will inspire others to join us in this important mission. Together, as part of the Grammar
          School at Leeds community, we can make a difference and create a more sustainable world for generations to come.

        </p>

      </div>
    </div>


  </div>
  <%- include("./partials/html-foot.ejs") %>
