<%- include("./partials/html-head.ejs") %>

  <h1>hiii!!!!</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa praesentium quibusdam deserunt animi quisquam, id
    pariatur, optio minus debitis similique obcaecati sint reprehenderit ipsum! Similique, rerum quod. Vitae, dolores
    ad?
    Enim ipsam error sapiente excepturi omnis odio aperiam consequatur, nihil dolor ullam amet harum modi similique.
    Tenetur, iste molestiae quo, cumque nulla veritatis ipsum in quibusdam eligendi tempora corrupti accusamus.
    A nisi excepturi placeat corporis dolorem adipisci inventore molestiae eos facere enim voluptatibus optio magnam,
    tempore assumenda expedita culpa ipsam est aliquam blanditiis nemo rerum. Labore omnis natus nobis quibusdam!
    Quod cupiditate id rerum quidem quisquam inventore aliquam exercitationem labore possimus distinctio nam architecto
    quae voluptate ipsum, doloremque impedit molestiae, illo accusamus, dolor deserunt. Qui quod voluptas natus nobis
    debitis.
    Earum saepe maxime omnis fuga laborum ullam? Laboriosam, ipsa dolore? Ducimus necessitatibus aliquam sequi in fuga
    animi odio sed deleniti neque unde sapiente, accusamus doloremque exercitationem aut laborum deserunt facere!
    Voluptas, laudantium. Nemo, impedit corporis vero quisquam sit tempore beatae culpa accusantium recusandae alias
    officia cupiditate voluptatem excepturi in, dolorem sed ullam. Magni eligendi quae nobis modi, nesciunt tempora
    nihil.
    Suscipit est ipsum minima repellat. Ducimus, nulla quisquam. Nobis dicta iusto hic nisi tenetur quam eum cum laborum
    id facere necessitatibus corporis ut tempore blanditiis aut officiis, asperiores vero ipsum!
    Ipsa hic atque incidunt assumenda eveniet magnam ullam at ab qui impedit repellendus eos repellat, facilis beatae
    enim, aut eaque odio maiores dolores. Fugit minus voluptates, aliquam recusandae culpa provident.
    Amet totam aspernatur quasi pariatur. Non, libero? Rerum sint accusamus eum facilis, cumque perferendis animi saepe,
    quaerat veritatis vel magni est quisquam porro ab laborum. Maiores praesentium labore nisi itaque?
    Pariatur perspiciatis soluta perferendis, consequatur quas incidunt facilis tempore reiciendis eius, amet
    exercitationem nemo fugit. Veritatis, praesentium odio nam voluptates quis quod soluta esse voluptatibus ipsam
    veniam.
    At, fugiat cupiditate.</p>


  <%- include("./partials/html-foot.ejs") %>