<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/css/everything.css">
  <link rel="stylesheet" href="/css/explore.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top"
    style="background-color:#22577a;border-bottom: 4px #37371f solid;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/images/icon4.avif" class="d-inline-block align-text-top" width="35" height="35">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/game">Game</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-us">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/explore">Explore</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active p-0">
        <div class="d-flex justify-content-center flex-column align-items-center h-100 ci" id="ci1">
          <h1>Save our <span class="c-special-text">waters</span></h1>
          <p class="w-75">Our oceans, lakes, and rivers are under threat from pollution, overfishing, and climate
            change. It's time
            to take action
            to protect our waters and the diverse ecosystem they support. Join us in the fight to save our waters and
            ensure a
            healthy, sustainable future for all.</p>
          <p>Click <a href="https://www.sas.org.uk/">here</a>
            to find out more</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center flex-column align-items-center h-100 ci" id="ci2">
          <h1>Save our <span class="c-special-text">forests</span></h1>
          <p class="w-75">Forests are the lungs of our planet, providing clean air and vital habitats for countless
            species. However,
            deforestation is threatening these precious ecosystems and the many benefits they provide. It's time to take
            action to
            protect and restore our forests. Join us in the fight to save our forests and ensure a sustainable future
            for all.</p>
          <p>Click <a href="https://www.globalforestwatch.org/">here</a>
            to find out more</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center flex-column align-items-center h-100 ci" id="ci3">
          <h1>Save our <span class="c-special-text">skies</span></h1>
          <p class="w-75">Air pollution and climate change are threatening our skies and the air we breathe. We need to
            take action
            to reduce our
            carbon footprint and promote cleaner, renewable energy sources. Let's work together to save our skies and
            create a
            cleaner, healthier planet for all.</p>
          <p>Click <a
              href="https://www.environmental-protection.org.uk/wp-content/uploads/2016/03/Light-Pollution.pdf">here</a>
            to find out more</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center flex-column align-items-center h-100 ci" id="ci4">
          <h1>Save our <span class="c-special-text">corals</span></h1>
          <p class="w-75">Coral reefs are among the most diverse and important ecosystems on our planet, but they are
            under threat
            from pollution,
            overfishing, and climate change. We need to take action to protect these fragile ecosystems and the
            countless species
            they support. Join us in the fight to save our corals and preserve our planet's biodiversity.</p>
          <p>Click <a href="https://www.mcsuk.org/">here</a>
            to find out more</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center flex-column align-items-center h-100 ci" id="ci5">
          <h1>Save our <span class="c-special-text">animals</span></h1>
          <p class="w-75">Our planet's biodiversity is at risk, and many species of animals are facing extinction. It's
            our
            responsibility to
            protect and preserve these beautiful creatures for future generations. Let's work together to raise
            awareness and take
            action to save our animals.</p>
          <p>Click <a href="https://www.rspca.org.uk/">here</a>
            to find out more</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="further-learning" class="py-3 d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center">
      Learn more about the environment
    </h2>
    <br>
    <p>Carbon output, particularly from burning fossil fuels, has a significant impact on our environment, causing
      various
      negative effects on water, animals, skies, corals, and forests. The excessive emission of carbon dioxide and other
      greenhouse gases contributes to global warming, which leads to the melting of glaciers and ice caps, causing a
      rise in
      sea levels and changing weather patterns, ultimately affecting the availability and quality of water.
      <br><br>
      Animals are also affected as their habitats are destroyed, and they face a lack of food and water, causing a
      significant
      decline in population. Additionally, the increase in atmospheric carbon dioxide can contribute to ocean
      acidification,
      which can harm corals and other marine life.
      <br><br>
      The skies are also affected as carbon emissions contribute to the formation of smog and air pollution, which can
      lead to
      respiratory problems in humans and animals alike. Moreover, forests, which play a vital role in carbon
      sequestration,
      are being destroyed at an alarming rate, reducing their ability to absorb carbon and worsening the effects of
      climate
      change.
      <br><br>
      Therefore, reducing carbon output is essential to protecting our environment and preventing further damage to our
      water,
      animals, skies, corals, and forests. We can achieve this by reducing our reliance on fossil fuels, embracing
      renewable
      energy sources, and adopting more sustainable practices in our daily lives.
    </p>
  </div>
  <%- include("./partials/html-foot.ejs") %>