<%- include("./partials/html-head.ejs") %>
  <div class="container-fluid d-flex flex-row align-items-between justify-content-evenly p-5" style="height:100vh">
    <div class="d-inline-block h-75 d-flex flex-column justify-content-evenly align-items-center w-75">
      <h1>Hello!</h1>
      <p class="text-center">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum soluta similique neque maiores saepe laborum,
        ipsa aliquid ut deserunt expedita aspernatur nemo nisi ipsum ea delectus qui consequuntur exercitationem porro.
        Placeat, eius nam molestias ad quidem quam fugit iste, quo corrupti temporibus quasi dolore facilis. Ipsa beatae
        tempore, velit natus minus consectetur cumque voluptates culpa sunt dolore voluptas pariatur blanditiis!
        Inventore esse laudantium rerum fuga numquam impedit, beatae molestias, cupiditate nesciunt maxime cumque quo
        debitis sit vitae corrupti accusamus ad perferendis illo ducimus illum dolorum id nobis? Magni, amet rem.
        Aspernatur autem nam perspiciatis vero facilis impedit. Maiores, cupiditate mollitia esse molestias odit nihil,
        numquam voluptates exercitationem enim soluta maxime aliquam adipisci labore! Id, molestiae! Commodi explicabo
        aut impedit veritatis.
        Impedit, beatae nostrum autem rem exercitationem, tempora nulla architecto quia delectus eligendi rerum maiores
        voluptatibus doloribus! Iste magni cumque eos iusto dicta et dignissimos sapiente? Delectus rerum sed quos enim.
      </p>
      <a class="btn btn-lg btn-success" style="width: 6em; height: 3em;" href="/game">Play</a>

    </div>
    <div class="d-none d-md-flex h-75 justify-content-center" style="width:fit-content">
      <img src="\images\front-page-img.png" alt="" class="h-100">
    </div>
  </div>
  <%- include("./partials/html-foot.ejs") %>