<%- include("./partials/html-head.ejs") %>
  <style>
    #main-content {
      background-color: white
    }
  </style>
  <div id="main-content" class="container-fluid d-flex flex-row align-items-between justify-content-evenly p-5"
    style="height:100vh;">
    <div class="d-inline-block h-75 d-flex flex-column justify-content-evenly align-items-center w-75">
      <h1>Hello!</h1>
      <p class="text-center">
        Climate change is a pressing issue that is affecting our planet in various ways, including rising temperatures,
        more
        extreme weather events, and loss of biodiversity. It is caused by human activities, such as burning fossil fuels
        and
        deforestation, which release greenhouse gases into the atmosphere.
        <br>
        <br>
        To measure your impact on the environment and contribute to mitigating climate change, you can take a fun quiz
        that
        assesses your carbon footprint. This quiz will help you understand how your daily habits and lifestyle choices
        affect
        the environment and provide you with practical tips on how to reduce your carbon footprint. By taking steps to
        reduce
        your impact, you can help protect the planet and create a more sustainable future.
      </p>
      <a class="btn btn-lg btn-success" style="width: 6em; height: 3em;" href="/game">Play</a>

    </div>
    <div class="d-none d-md-flex h-75 justify-content-center" style="width:fit-content">
      <img src="\images\front-page-img.png" alt="" class="h-100">
    </div>
    
  </div>
  <%- include("./partials/html-foot.ejs") %>