<%- include("../partials/html-head.ejs") %>
  <style>
    h1 {
      font-family: 'Single Day', cursive;
      font-size: max(300%, 3vw);
    }

    #play-btn {
      width: 8em;
      height: 3em;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #006400;
      text-decoration: none;
      color: white;
      font-size: x-large;
      transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1),
        background-color 0.1s cubic-bezier(0.165, 0.84, 0.44, 1),
        border-radius 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    #play-btn:hover {
      transform: scale(1.1);
      background-color: #f9a620;
      border-radius: 20px;
      box-shadow: #ffd449 0 0 15px 2px;
    }
  </style>
  <div id="main-content" class="container-fluid " style="height:100vh;">
    <div class="row">
      <div class="col d-none d-md-flex justify-content-center p-2">
        <img src="\images\PNG\2.png" alt="" style="max-width: 80%; max-height:auto; width: auto;
  height: auto;">
      </div>
      <div class=" col d-inline-block d-flex flex-column justify-content-evenly align-items-center m-3">
        <h1 class="text-center">Carbon Footprint Game</h1>
        <p>
          Welcome to the Carbon Footprint Game!
          <br><br> In this game, you will be challenged to make choices that impact your carbon
          footprint, and ultimately your health.<br><br> As you progress through the game, you will be asked a series of
          questions about
          your daily habits and actions, and each answer will either increase or decrease your carbon footprint.<br>
          Your
          health will
          be represented by an iceberg, which will diminish in size as you make choices that contribute to climate
          change.
          <br>The aim
          of the game is to reduce your carbon footprint and maintain a healthy lifestyle, while learning about the
          impact
          of your
          actions on the environment. <br><br>Get ready to make some tough choices and see how your daily actions affect
          the
          planet!
        </p>
        <a id="play-btn" href="/game/play">Play</a>

      </div>
    </div>


  </div>
  <%- include("../partials/html-foot.ejs") %>