<%- include("../partials/html-head.ejs") %>

  <div id="main-content" class="container-fluid d-flex flex-row align-items-between justify-content-evenly p-5"
    style="height:100vh;">
    <div class="d-none d-md-flex h-75 justify-content-center" style="width:fit-content">
      <img src="\images\PNG\2.png" alt="" class="h-100">
    </div>
    <div class="d-inline-block d-flex flex-column justify-content-evenly align-items-center m-3">
      <h1>Carbon Footprint Game</h1>
      <p >
        Welcome to the Carbon Footprint Game!
        <br><br> In this game, you will be challenged to make choices that impact your carbon
        footprint, and ultimately your health.<br><br> As you progress through the game, you will be asked a series of
        questions about
        your daily habits and actions, and each answer will either increase or decrease your carbon footprint.<br> Your
        health will
        be represented by an iceberg, which will diminish in size as you make choices that contribute to climate change.
        <br>The aim
        of the game is to reduce your carbon footprint and maintain a healthy lifestyle, while learning about the impact
        of your
        actions on the environment. <br><br>Get ready to make some tough choices and see how your daily actions affect the
        planet!
      </p>
      <a class="btn btn-lg btn-success" style="width: 6em; height: 3em;" href="/game/play">Start</a>

    </div>


  </div>
  <%- include("../partials/html-foot.ejs") %>