<%- include("../partials/html-head.ejs") %>
  <link rel="stylesheet" href="/css/game/preview.css">
  <div id="main-content" class="container-fluid " style="height:100%">
    <div class="row" style="height: 90%">
      <div class="col d-none d-md-flex justify-content-center p-2 ">
        <img src="\images\woman-earth.png" alt="" style="        max-width: 100%; height: auto; object-fit: contain;">
      </div>
      <div class=" col d-inline-block d-flex flex-column justify-content-evenly align-items-center m-3">
        <h1 class="text-center" style="font-size: 10vmin;">Carbon Footprint Game</h1>
        <div class="d-flex flex-column align-items-center mt-0">
          <p>
            Welcome to the Carbon Footprint Game!
            <br><br> In this game, you will be challenged to make choices that impact your carbon
            footprint, and ultimately your health.<br><br> As you progress through the game, you will be asked a series
            of
            questions about
            your daily habits and actions, and each answer will either increase or decrease your carbon footprint.<br>
            <br>The aim
            of the game is to reduce your carbon footprint and maintain a healthy lifestyle, while learning about the
            impact
            of your
            actions on the environment. <br><br>Get ready to make some tough choices and see how your daily actions
            affect
            the
            planet!
          </p>
          <a id="play-btn" href="/game/play" class="mt-2">Play</a>

        </div>
      </div>
    </div>


  </div>
  <%- include("../partials/html-foot.ejs") %>