<%- include("../partials/html-head.ejs") %>
  <style>
    body {
      background: url("/images/thingy2.png");
      background-size: cover;
    }

    @media only screen and (max-width: 768px) {
      body {
        background: url("/images/bg.png");
      }
    }
  </style>
  <div class="d-flex flex-column container-md h-100 justify-content-between align-items-center mx-auto p-3 h-100">
    <h3>Your carbon score is...</h3>
    <h1><%-score%>!</h1>
    <p><%-text%></p>
    <img src="\images\wateringman.png" alt="" style="max-width: max(35%, 400px);">
  </div>

  <%- include("../partials/html-foot.ejs") %>