<%- include("../partials/html-head.ejs") %>
  <div class="d-flex flex-column container-md h-100 justify-content-center align-items-center mx-auto p-3">
    <h3>Your carbon score is...</h3>
    <h1><%-score%>!</h1>
    <p><%-text%></p>
    <img src="\images\PNG\3.png" alt="" style="max-width: max(35%, 400px);">
  </div>

  <%- include("../partials/html-foot.ejs") %>