    body {
      background: url("/images/bg.png") !important;
      background-size: cover;
      height: 100svh;
      width: 100svw;
    }

    h1 {
      font-family: 'Single Day', cursive;
      font-size: max(300%, 3vw);
    }

    #play-btn {
      width: 8em;
      height: 3em;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #006400;
      text-decoration: none;
      color: white;
      font-size: x-large;
      transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1),
        background-color 0.1s cubic-bezier(0.165, 0.84, 0.44, 1),
        border-radius 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    #play-btn:hover {
      transform: scale(1.1);
      background-color: #f9a620;
      border-radius: 20px;
      box-shadow: #ffd449 0 0 15px 2px;
    }